@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 348 47% 100%;
    --foreground: 348 78% 1%;
    --muted: 348 24% 87%;
    --muted-foreground: 348 2% 30%;
    --popover: 348 47% 100%;
    --popover-foreground: 348 78% 1%;
    --card: 0 0% 99%;
    --card-foreground: 0 0% 0%;
    --border: 348 10% 93%;
    --input: 348 10% 93%;
    --primary: 348 92% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 348 15% 91%;
    --secondary-foreground: 348 15% 31%;
    --accent: 348 23% 85%;
    --accent-foreground: 348 23% 25%;
    --destructive: 9 80% 33%;
    --destructive-foreground: 9 80% 93%;
    --ring: 348 92% 55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 348 31% 3%;
    --foreground: 348 39% 99%;
    --muted: 348 24% 13%;
    --muted-foreground: 348 2% 70%;
    --popover: 348 31% 3%;
    --popover-foreground: 348 39% 99%;
    --card: 348 31% 4%;
    --card-foreground: 0 0% 100%;
    --border: 348 10% 13%;
    --input: 348 10% 13%;
    --primary: 348 92% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 348 14% 20%;
    --secondary-foreground: 348 14% 80%;
    --accent: 348 22% 27%;
    --accent-foreground: 348 22% 87%;
    --destructive: 9 80% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 348 92% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
